@page
@model IndexModel
@{    
    ViewData["Title"] = "My Azure ADD exeriment - Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello World from .Net 6</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <hr />
    <p> Also, learn how to set up your very own on-premises resources, <a href="https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-deployment-plans#deploy-hybrid-scenarios">authentication configurations, and on-premises infrastructure using Azure AD hybrid services.</a>.</p>
    <div>Host operating system: @Model.OSVersion</div>
</div>
